<!DOCTYPE html>

                
<!DOCTYPE html>
<html>
<head>
    <title>Admin Signup</title>
</head>
<body>
    <h1>Admin Signup</h1>
    <form method="POST" action="/processor2">
        
        <label for="surname">Surname:</label>
        <input type="text" name="surname" required><br>

        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" required><br>
        
        <label for="maiden_name">Maiden Name:</label>
        <input type="text" name="maiden_name"><br>
        
        <label for="admin_email">Admin Email:</label>
        <input type="email" name="admin_email" required><br>
        
        <label for="personal_email">Personal Email:</label>
        <input type="email" name="personal_email"><br>
        
        <label for="password">Password:</label>
        <input type="password" name="admin_password" required><br>
        
        <label for="position">Position:</label>
        <input type="text" name="position" required><br>
        
        
        
        <label for="rank">Rank:</label>
        <input type="text" name="rank"required><br>
        
        <label for="grade">Grade:</label>
        <input type="text" name="grade"required><br>
        
        <label for="job_title">Job Title:</label>
        <input type="text" name="job_title"required><br>
        
        <label for="employment_status">Employment Status:</label>
        <input type="text" name="employment_status"required><br>
        
        <label for="gender">Gender:</label>
         <input type="text" name="gender"required><br>

        <label for="date_of_appointment">Date of Appointment:</label>
        <input type="date" name="date_of_appointment"required><br>

        <label for="number">Number:</label>
        <input type="text" name="number"required><br>

        
        <label for="end_of_contract">End of Contract:</label>
        <input type="date" name="end_of_contract"required><br>
        
        <label for="ghana_card">Ghana Card:</label>
        <input type="text" name="ghana_card" maxlength="100"required><br>
        
        <label for="snit_number">SNIT Number:</label>
        <input type="text" name="snit_number" maxlength="100"required><br>
        
        <label for="tin_number">TIN Number:</label>
        <input type="text" name="tin_number"required><br>
        
        
        <label for="immigration_status">Immigration Status:</label>
        <input type="text" name="immigration_status" maxlength="100"required><br>
        
        <label for="immigration_number">Immigration Number:</label>
        <input type="text" name="immigration_number" maxlength="100"required><br>
        
        <label for="value_permit">Value Permit:</label>
        <input type="text" name="value_permit" maxlength="100"required><br>
        
        <label for="address">Address:</label>
        <input type="text" name="address" maxlength="200"required><br>
        
        <label for="bank_number">Bank Number:</label>
        <input type="text" name="bank_number" maxlength="100"required><br>
        


        <label for="department_directorate_unit">Dictorate/Department/Unit:</label>
        <input type="text" name="department_directorate_unit"required><br>



       

        <label for="member_staff">Member Staff:</label>
           <input type="text" name="member_staff"required><br>
        
<!--                         
        <label for="admin_full_name">Admin Full Name:</label>
        <input type="text" name="admin_full_name" maxlength="255"><br>
        
        <label for="admin_email">Admin Email:</label>
        <input type="email" name="admin_email" maxlength="255"><br>
        
        <label for="admin_password">Admin Password:</label>
        <input type="password" name="admin_password" maxlength="255"><br> -->
        


        <label for="tin_number">TIN Number:</label>
        <input type="text" name="tin_number"required><br>

        <label for="bank_name">Bank Name:</label>
        <input type="text" name="bank_name" maxlength="100"required><br>
        
        <label for="bank_branch">Bank Branch:</label>
        <input type="text" name="bank_branch" maxlength="100"required><br>
        
        <label for="next_of_kin">Next of Kin:</label>
        <input type="text" name="next_of_kin" maxlength="100"required><br>
        
        <label for="relationship">Relationship:</label>
        <input type="text" name="relationship" maxlength="100"required><br>
        
        <label for="address_kin">Address of Next of Kin:</label>
        <input type="text" name="address_kin" maxlength="100"required><br>
        
        <label for="gender_kin">Gender of Next of Kin:</label>
        <input type="text" name="gender_kin" maxlength="100"required><br>
        
        <label for="name_beneficiaries">Name of Beneficiaries:</label>
        <input type="text" name="name_beneficiaries" maxlength="100"required><br>
        
        <label for="address_beneficiaries">Address of Beneficiaries:</label>
        <input type="text" name="address_beneficiaries" maxlength="100"required><br>
        
        <label for="other_beneficiaries">Other Beneficiaries:</label>
        <input type="text" name="other_beneficiaries" maxlength="100"required><br>
        
        <label for="gender_beneficiaries">Gender of Beneficiaries:</label>
        <input type="text" name="gender_beneficiaries" maxlength="100"required><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>





