{% extends 'base.html' %}

{% block body %}
 


<aside class="admin__aside">
    <div class="tabContaine">
        <a href="/newdash"> <div class="tabButton"  style="background-color:#fff; padding:15px; border-radius:5px; color:#000;"><span class="text-muted" >Navigation Menu</span></div></a>
        <div class="tabButtonBorder"></div>
        <!--<div class="panel">
            <ul>
                <li><input type="checkbox" /><span>İstanbul</span> </li>
                <li><input type="checkbox" /><span>Ankara</span> </li>
                <li><input type="checkbox" /><span>İzmir</span> </li>
                <li><input type="checkbox" /><span>Balıkesir</span> </li>
            </ul>
        </div>-->
        <div class="tabContainer">
            <a href="/newdash"> <div class="tabButton" style="background-color:#fff; padding:15px; border-radius:5px; color:#000;"><i class="fas fa-home"></i><span>Dashboard</span></div></a>
            <div class="tabButtonBorder"></div>
            <!--<div class="panel">
                <ul>
                    <li><input type="checkbox" /><span>İstanbul</span> </li>
                    <li><input type="checkbox" /><span>Ankara</span> </li>
                    <li><input type="checkbox" /><span>İzmir</span> </li>
                    <li><input type="checkbox" /><span>Balıkesir</span> </li>
                </ul>
            </div>-->
        </div>
    <div class="tabContainer">
        <a href="/dashboard"> <div class="tabButton" style="background-color:#ca181e; padding:15px; border-radius:5px; color:#fff;"><i class="fas fa-users"></i><span>All Staff</span></div></a>
        <div class="tabButtonBorder"></div>
        <!--<div class="panel">
            <ul>
                <li><input type="checkbox" /><span>İstanbul</span> </li>
                <li><input type="checkbox" /><span>Ankara</span> </li>
                <li><input type="checkbox" /><span>İzmir</span> </li>
                <li><input type="checkbox" /><span>Balıkesir</span> </li>
            </ul>
        </div>-->
    </div>
    <div class="tabContainer">
        <a href="/addnew"><div class="tabButton" style="background-color:#fff; padding:15px; border-radius:5px; color:#000;"><i class="fas fa-plus-circle"></i><span>Add Staff</span></div></a>
        <div class="tabButtonBorder"></div>
    
    </div>

    
    <div class="tabContainer">
        <a href="/report"> <div class="tabButton" style="background-color:#fff; padding:15px; border-radius:5px; color:#000;"><i class="fa fa-database"></i><span>Report</span></div></a>
        <div class="tabButtonBorder"></div>
<!--                <div class="panel">
            <ul>
                <li><input type="checkbox" /><span>İstanbul</span> </li>
                <li><input type="checkbox" /><span>Ankara</span> </li>
                <li><input type="checkbox" /><span>İzmir</span> </li>
                <li><input type="checkbox" /><span>Balıkesir</span> </li>
            </ul>
        </div>-->
    </div>
</aside>
<main class="admin__main">
  
    <div class="searchResults">
        {% for staff_member in staff_members %}
        <div class="car" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; background-color:#fff; border-radius:20px; padding:20px;">
            <div class="user">
                
                <div class="nameAndStars" style="display:flex; justify-content:space-between;">
                    <div class="name"><h6 style="font-size:20px;"><b>{{ staff_member.firstname }}  {{ staff_member.surname }}</b></h6></div> 
                <a href="{{ url_for('edit_staff', staff_id=staff_member.id) }}">
                    <div class="name" style="background-color:#ca181e; padding:5px; color:#fff; border-radius:5px;">Edit</div> 
                </a>
                <a href="{{ url_for('remove_user', staff_id=staff_member.id) }}">
                    <div class="name" style="background-color:#ca181e; padding:5px; color:#fff; border-radius:5px;">Remove</div> 
                </a>
                </div>
                
            </div>
            
            {{ staff_member.password }}
            {{ staff_member.official_email }}
            <div class="skills">
                <div class="skillsContainer">
                    <a href="#" class="skill" style="background-color: var(--primary-light);
    color: #ca181e;;
    padding: var(--spacing-xxxs) var(--spacing-xxs);
    border-radius: var(--spacing-xxxs);">{{ staff_member.employment_status }}</a>
                    <a href="#" class="skill" style="background-color: var(--primary-light);
    color: #ca181e;;
    padding: var(--spacing-xxxs) var(--spacing-xxs);
    border-radius: var(--spacing-xxxs);">{{ staff_member.grade }}</a>
                    
                </div>
            <div  style="display:flex; justify-content:space-between; margin-top:10px;">

                <span class="header"><b>Job Title:</b> {{ staff_member.job_title }}</span>
                <span class="header">{{ staff_member.number }}</span>
            </div>
                
            </div>

            <hr class="seperator" />
            <div class="customers" style="display:flex; justify-content:space-between;">
                <span class="header"><b>Rank:</b> {{ staff_member.rank }}</span>
                <span class="header"><b>Department:</b> {{ staff_member.department_directorate_unit }}</span>
            </div>
            <hr class="seperator" />
            
        </div>
        {% endfor %}
    </div>
</main>
    {%endblock body%}
