<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Buy PostPills, Contraceptives, Lubrication and Test Kits, and have them delivered to you. Only in central University">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename="img/favicon.png")}}"/>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
  



<script src="static/css/index.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
<!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css"> 
    <!-- Local Styles -->
    <link rel="stylesheet" href="{{ url_for('static',filename='/assets/css/style2.css')}}">
<!-- FontAwesomeKit -->
    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <title></title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(136, 136, 136, 0.3);; color: white;">
  
  <div class="container-fluid">
    <a href="#" class="logo">

       
      <img src="https://www.central.edu.gh/static/img/Central-Uni-logo.png" width="100" height="45" alt="">
    </a>
    </div>
      
 
         
  </nav>
 
<!-- <h6 style="background-color: rgba(0, 0, 255, 0.452); padding: 20px; border: 1px solid  rgb(255, 134, 154);; color:  rgb(255, 134, 154);; ">Click here <a href="#">here</a> to post an ad and start making money</h6> -->
<div class="container">
  <h1>Welcome to the User Dashboard, {{ user.firstname }}</h1>
  <br>


<!-- 
  <section>
    <h2>Search Users</h2>
  <form class="form-inline my-2 my-lg-0 mt-2 space" style="display: flex; padding-top: 20px; padding-bottom: 20px;" >
    <form action="{{ url_for('search_users') }}" method="GET">
      <label for="search_name">Search by Name:</label>
    <input type="text"
        class="form-control" name="search_name" id="search_name" placeholder="Enter the name" aria-describedby="helpId" placeholder="" style="width:85%; border: none">
     <button style="width: 15%; color:  rgb(255, 134, 154);; background-color: transparent; border: none;" class="btn btn-person`" type="submit"><i class="fas fa-enter">Search</i></button>

    </form>
</form> -->

<div class="row">
<ul>
  {% for found_user in found_users %}
      <li><a href="{{ url_for('view_user_profile', user_id=found_user.id) }}">{{ found_user.firstname }} {{ found_user.surname }}</a></li>
  {% endfor %}
</ul>
</div>
  </section>
<br>


   
    <div class="row">
<!--personal Information-->
      <div class="col-12">
        <div class="department-item" >
          <h4 style="color:#000;"><b>Personal Information</b></h4>

    <div class="row">
          <div class="col-6">
        <h6 class="text-muted">Firstname </h6>
        <h4 style="color: black; margin-bottom: 10px;">{{ user.firstname }}</h4>
          </div>

          <div class="col-6">
        <h6 class="text-muted">Lastname </h6>
        <h4 style="color: black; margin-bottom: 0;">{{ user.surname }}</h4>
          </div>
    </div>


    <div class="row">
      <div class="col-6">
    <h6 class="text-muted">Maiden Name </h6>
    <h4 style="color: black; margin-bottom: 10px;">{{ user.maidenname }}</h4>
      </div>

      <div class="col-6">
    <h6 class="text-muted">Personal Email </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.personal_email }}</h4>
      </div>


      <div class="col-6">
        <h6 class="text-muted">Relationship </h6>
        <h4 style="color: black; margin-bottom: 0;">{{ user.relationship }}</h4>
          </div>

          <div class="col-6">
            <h6 class="text-muted">Next of Kin </h6>
            <h4 style="color: black; margin-bottom: 0;">{{ user.next_of_kin }}</h4>
              </div>
    
              <div class="col-6">
                <h6 class="text-muted">Address (Kin) </h6>
                <h4 style="color: black; margin-bottom: 0;">{{ user.address_kin }}</h4>
                  </div>
            
                  <div class="col-6">
                    <h6 class="text-muted">Gender (Kin) </h6>
                    <h4 style="color: black; margin-bottom: 0;">{{ user.gender_kin }}</h4>
                      </div>

                      <div class="col-6">
                        <h6 class="text-muted">Name (Beneficiaries) </h6>
                        <h4 style="color: black; margin-bottom: 0;">{{ user.name_beneficiaries }}</h4>
                          </div>

                          <div class="col-6">
                            <h6 class="text-muted">Address (Beneficiaries) </h6>
                            <h4 style="color: black; margin-bottom: 0;">{{ user.address_beneficiaries }}</h4>
                              </div>
                              
                              <div class="col-6">
                                <h6 class="text-muted">Personal Email </h6>
                                <h4 style="color: black; margin-bottom: 0;">{{ user.personal_email }}</h4>
                                  </div>
                                  
                                  <div class="col-6">
                                    <h6 class="text-muted">Immigration Status </h6>
                                    <h4 style="color: black; margin-bottom: 0;">{{ user.immigration_status }}</h4>
                                      </div>     
                                      
                                      <div class="col-6">
                                        <h6 class="text-muted">Value Permit </h6>
                                        <h4 style="color: black; margin-bottom: 0;">{{ user.value_permit }}</h4>
                                          </div>     
                                          
                                          
                                          <div class="col-6">
                                            <h6 class="text-muted">Address </h6>
                                            <h4 style="color: black; margin-bottom: 0;">{{ user.address }}</h4>
                                              </div>     

                                              <div class="col-6">
                                                <h6 class="text-muted">Date of Appointment </h6>
                                                <h4 style="color: black; margin-bottom: 0;">{{ user.date_of_appointment }}</h4>
                                                  </div>     

                                                  <div class="col-6">
                                                    <h6 class="text-muted">End of Contract </h6>
                                                    <h4 style="color: black; margin-bottom: 0;">{{ user.end_of_contract }}</h4>
                                                      </div>     
        

    
</div>
      

    </div>


    <!--work Information-->
      <div class="col-12">
        <div class="department-item" >
          <h4 style="color:#000;"><b>Work Information</b></h4>
          
     <div class="row">
          <div class="col-6">
        <h6 class="text-muted">Position </h6>
        <h4 style="color: black; margin-bottom: 10px;">{{ user.position }}</h4>
          </div>

          <div class="col-6">
        <h6 class="text-muted">Official Email </h6>
        <h4 style="color: black; margin-bottom: 0;">{{ user.official_email }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
    <h6 class="text-muted">Member Staff </h6>
    <h4 style="color: black; margin-bottom: 10px;">{{ user.member_staff }}</h4>
      </div>

      <div class="col-6">
    <h6 class="text-muted">Department/Directorate/Unit </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.department_directorate_unit }}</h4>
  </div>
  </div>

         <div class="col-6">
    <h6 class="text-muted">Employee Number </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.number }}</h4>
  </div>
  



        <div class="row">
        <div class="col-6">
    <h6 class="text-muted">Gender </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.gender }}</h4>
  </div>
 

       
         <div class="col-6">
    <h6 class="text-muted">Rank </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.rank }}</h4>
  </div>
 </div>

 <div class="row">
  <div class="col-6">
    <h6 class="text-muted">Grade </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.grade }}</h4>
  </div>
 
  
  
  <div class="col-6">
    <h6 class="text-muted">Job Title </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.job_title }}</h4>
  </div>
  </div>
 


  <div class="col-6">
    <h6 class="text-muted">Employment Status </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.employment_status }}</h4>
  </div>
 
  <div class="row">
  <div class="col-6">
    <h6 class="text-muted">SNIT Number </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.snit_number }}</h4>
  </div>
  


  <div class="col-6">
    <h6 class="text-muted">TIN Number </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.tin_number }}</h4>
  </div>
  </div>

  <div class="col-6">
    <h6 class="text-muted">Rank </h6>
    <h4 style="color: black; margin-bottom: 0;">{{ user.rank }}</h4>
  </div>
 

      </div>
    </div>
    <!--end of work-->

<!--bank Information-->
    <div class="col-12">
      <div class="department-item" >
        <h4 style="color:#000;"><b>Bank Information</b></h4>
        
  <div class="row">
        <div class="col-6">
      <h6 class="text-muted">Bank Number </h6>
      <h4 style="color: black; margin-bottom: 10px;">{{ user.bank_number }}</h4>
        </div>

        <div class="col-6">
      <h6 class="text-muted">Bank Name</h6>
      <h4 style="color: black; margin-bottom: 0;">{{ user.bank_name }}</h4>
    </div>
  </div>

  <div class="row">
        <div class="col-6">
      <h6 class="text-muted">Bank Branch </h6>
      <h4 style="color: black; margin-bottom: 10px;">{{ user.bank_branch }}</h4>
        </div>

        

<!--end of bank-->

  </div>
</div>








</div>



  

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>

<!-- <script defer src="//firebase/8.9.1/firebase-storage.js"></script> -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="static/css/index.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    <form action="{{ url_for('logout') }}" method="POST">
        <input type="submit" value="Logout">
    </form>
  </body>
</html>

  <section>
        <h2>Search Users</h2>
        <form action="{{ url_for('search_users') }}" method="GET">
            <label for="search_name">Search by Name:</label>
            <input type="text" name="search_name" id="search_name" placeholder="Enter name">
            <button type="submit">Search</button>
        </form>
        <ul>
            {% for found_user in found_users %}
                <li><a href="{{ url_for('view_user_profile', user_id=found_user.id) }}">{{ found_user.firstname }} {{ found_user.surname }}</a></li>
            {% endfor %}
        </ul>
    </section>

   
    
    
<!--  

    <form action="{{ url_for('logout') }}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html> -->
