<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Buy PostPills, Contraceptives, Lubrication and Test Kits, and have them delivered to you. Only in central University">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename="img/favicon.png")}}"/>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
  



<script src="static/css/index.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
<!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css"> 
    <!-- Local Styles -->
    <link rel="stylesheet" href="{{ url_for('static',filename='/assets/css/style2.css')}}">
<!-- FontAwesomeKit -->
    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky navbar-light bg-danger px-0 py-3" >
      <div class="container-xl">
        <button class="navbar-toggler" style="border:none;"  type="button" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <div class="dropdown" >
            
            <div class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style=" background-color:#ca181e; border-radius:50px; width:40px;height:40px;">
              
            </div>
            
          
            <ul class="dropdown-menu">
             
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Reset Password</a></li>
                <form action="{{ url_for('logout') }}" method="POST">
                  <input type="submit" value="Logout" style="margin-left:12px; background-color:#fff; border:none;">
              </form>
            </ul>
          </div>
        </button>
        
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="https://www.central.edu.gh/static/img/Central-Uni-logo.png" style="width:100px;" class="h-8" alt="...">
        </a>
        <!-- Navbar toggle -->
        
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- Nav -->
          <div class="navbar-nav mx-lg-auto">
           
          </div>
          <!-- Right navigation -->
          <div class="navbar-nav ms-lg-4">
            
          </div>
          <!-- Action -->
          <div class="d-flex align-items-lg-center mt-3 mt-lg-0" style="margin-right:30px;">
            <div class="dropdown">
              <div class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style=" background-color:#ca181e; border-radius:50px; width:70px;height:70px;">
                
              </div>
             
            
              <ul class="dropdown-menu">
               
                <li><a class="dropdown-item" href="#">Edit</a></li>

                <li><a class="dropdown-item" href="#">Reset Password</a></li>
                
                <form action="{{ url_for('logout') }}" method="POST">
                  <input type="submit" value="Logout" style="margin-left:15px; background-color:#fff; border:none;">
              </form>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
 
<!-- <h6 style="background-color: rgba(0, 0, 255, 0.452); padding: 20px; border: 1px solid  rgb(255, 134, 154);; color:  rgb(255, 134, 154);; ">Click here <a href="#">here</a> to post an ad and start making money</h6> -->
<!--<div class="container">
  <h1>Welcome to the User Dashboard, {{ user.firstname }}</h1>
  <br>
-->
  

 <!-- can be found here https://www.bootdey.com/snippets/view/profile-with-data-and-skills#html -->
<div class="container">
  <div class="main-body">
  
        <!-- Breadcrumb -->
        
        <!-- /Breadcrumb -->
  
        <div class="row gutters-sm" style="margin-top:50px;">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="#" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{ user.firstname }} {{ user.maidenname }} {{ user.surname }} </h4>
                    <p class="text-secondary mb-1">{{ user.position }} | {{ user.gender }}</p>
                    <p class="text-muted font-size-sm">{{ user.official_email }}</p>
                    <p class="text-muted font-size-sm">{{ user.department_directorate_unit }} | {{ user.rank }}</p>
                    <button class="btn btn-primary" style="background-color:red; border:none;">{{ user.number }}</button>
                    <!--<button class="btn btn-outline-primary" style="color:#000; border:none;">{{ user.number }}</button>-->
                  </div>
                </div>
              </div>
            </div>
<!--               end of card -->
<!--               start of quick find -->
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <!--<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                  <span class="text-secondary">https://bootdey.com</span>
                </li>-->
                <!--<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                  <span class="text-secondary">bootdey</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
                </li>-->
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0">Bank Number:</h6>
                  <span class="text-secondary">{{ user.bank_number }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0">Bank Name:</h6>
                  <span class="text-secondary">{{ user.bank_name }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0">Bank Branch:</h6>
                  <span class="text-secondary">{{ user.bank_branch }}</span>
                </li>
              </ul>
            </div>
          </div>
<!--             end of quick find -->
<!--             edit form -->
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  
                  <div class="col-sm-3">
                    <h6 class="mb-0">Grade:</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ user.grade }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Jon Title:</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ user.job_title }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Employment Status:</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ user.employment_status }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">SNIT Number:</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ user.snit_number }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Tin Number:</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" >
                    {{ user.tin_number }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    
                    <!--<a class="btn btn-info " id="editInfoButton" style="background-color:red; border:none; color:#fff;">Edit</a>-->

                  </div>
                </div>
              </div>
            </div>
            
<!--               end of edit form -->

            <div class="row gutters-sm">
              <div class="col-sm-6 mb-3">
                <div class="card h-100">

                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"> <i class="material-icons text-info mr-2">Personal </i> Information</h6>
                    <hr>
                    <div class="row">

                      <div class="col-sm-6">
                        <h6 class="mb-0">Personal Email:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.personal_email }}
                      </div>
                      <hr>
                      <div class="col-sm-6">
                        <h6 class="mb-0">Relationship:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.relationship }}
                      </div>
                      <hr>
                      <div class="col-sm-6">
                        <h6 class="mb-0">Address:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.address }}
                      </div>
                      <hr>
                      <div class="col-sm-6">
                        <h6 class="mb-0">Immigration Status:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.immigration_status }}
                      </div>
                      <hr>
                      <div class="col-sm-6">
                        <h6 class="mb-0">Value Permit:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.value_permit }}
                      </div>

                      <hr>
                      <div class="col-sm-6">
                        <h6 class="mb-0">Date of Appointment:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.date_of_appointment }}
                      </div>
                      <hr>

                    </div>
                   
                  <!--
                    <small>Web Design</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Website Markup</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>One Page</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Mobile Template</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Backend API</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>-->
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"> <i class="material-icons text-info mr-2">Personal </i> Information</h6>

                    <div class="row">

                     
                      

                      <hr>
                      <div class="col-sm-6">
                        <h6 class="mb-0">End of Contract:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.end_of_contract }}
                      </div>

                      <hr>

                      <div class="col-sm-6">
                        <h6 class="mb-0">Next of Kin:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.next_of_kin }}
                      </div>
                      <hr>
                      <div class="col-sm-6">
                        <h6 class="mb-0">Address of Kin:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.address_kin }}
                      </div>

                      <hr>
                      <div class="col-sm-6">
                        <h6 class="mb-0">Name of Beneficiaries:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.name_beneficiaries }}
                      </div>

                      <hr>
                      <div class="col-sm-6">
                        <h6 class="mb-0">Address of Beneficiaries:</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        {{ user.address_beneficiaries }}
                      </div>

                      <hr>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>

      </div>
  </div>
<!-- 
  <section>
    <h2>Search Users</h2>
  <form class="form-inline my-2 my-lg-0 mt-2 space" style="display: flex; padding-top: 20px; padding-bottom: 20px;" >
    <form action="{{ url_for('search_users') }}" method="GET">
      <label for="search_name">Search by Name:</label>
    <input type="text"
        class="form-control" name="search_name" id="search_name" placeholder="Enter the name" aria-describedby="helpId" placeholder="" style="width:85%; border: none">
     <button style="width: 15%; color:  rgb(255, 134, 154);; background-color: transparent; border: none;" class="btn btn-person`" type="submit"><i class="fas fa-enter">Search</i></button>

    </form>
</form> -->
<!--
<div class="row">
<ul>
  {% for found_user in found_users %}
      <li><a href="{{ url_for('view_user_profile', user_id=found_user.id) }}">{{ found_user.firstname }} {{ found_user.surname }}</a></li>
  {% endfor %}
</ul>
</div>
  </section>
<br>-->

                 
                             
                                
         



<!---->

  </div>
</div>








</div>



  

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>

<!-- <script defer src="//firebase/8.9.1/firebase-storage.js"></script> -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="static/css/index.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
   
    
    
<!--  

    <form action="{{ url_for('logout') }}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html> -->
